In [2]:
# Importing dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [3]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\aarvi\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [4]:
url = "https://redplanetscience.com/"

In [5]:
browser.visit(url)

In [6]:
html = browser.html
soup = bs(html, 'html.parser')

In [7]:
news_title = soup.find('div', class_="content_title").get_text()
print(f"Latest News Title on webiste {url} is - {news_title}")

Latest News Title on webiste https://redplanetscience.com/ is - New Selfie Shows Curiosity, the Mars Chemist

In [8]:
news_p = soup.find('div', class_="article_teaser_body").get_text()
print(f"Latest paragraph on webiste {url} is - {news_p}")

Latest paragraph on webiste https://redplanetscience.com/ is - The NASA rover performed a special chemistry experiment at the location captured in its newest self-portrait.

In [9]:
url2 = "https://spaceimages-mars.com/"

In [10]:
browser.visit(url2)

In [11]:
img_html = browser.html
img_soup = bs(img_html, 'html.parser')

In [12]:
featured_img_url = url2 + img_soup.find('div', class_="header").find('img' , class_="headerimage fade-in").get('src')
print(f"Featured image url on {url2} is - {featured_img_url}")

Featured image url on https://spaceimages-mars.com/ is - https://spaceimages-mars.com/image/featured/mars2.jpg

In [13]:
url3 = "https://galaxyfacts-mars.com/"

In [14]:
tables = pd.read_html(url3)

In [15]:
df = tables[0]

In [16]:
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [17]:
df = df.drop(columns=[2])

In [18]:
df = df.drop([0])

In [19]:
df = df.rename(columns={0 : "Mars - Particulars", 1:"Details"})
df

   Mars - Particulars          Details
1           Diameter:         6,779 km
2               Mass:  6.39 × 10^23 kg
3              Moons:                2
4  Distance from Sun:   227,943,824 km
5     Length of Year:   687 Earth days
6        Temperature:     -87 to -5 °C

In [20]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Particulars</th>\n      <th>Details</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n  </tbody>\n</table>'

In [20]:
hemisphere_img_urls = [
    {"title":"Cerebus", "url":"https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg"},
    {"title":"Schiaparelli", "url":"https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg"},
    {"title":"Syrtis", "url":"https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg"},
    {"title":"Valles", "url":"https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg"}
]