In [87]:
# Importing dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [88]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\aarvi\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [52]:
url = "https://redplanetscience.com/"

In [53]:
browser.visit(url)

In [54]:
html = browser.html
soup = bs(html, 'html.parser')

In [59]:
news_title = soup.find('div', class_="content_title").get_text()
print(f"Latest News Title on webiste {url} is - {news_title}")

Latest News Title on webiste https://redplanetscience.com/ is - NASA's Perseverance Rover Will Peer Beneath Mars' Surface

In [60]:
news_p = soup.find('div', class_="article_teaser_body").get_text()
print(f"Latest paragraph on webiste {url} is - {news_p}")

Latest paragraph on webiste https://redplanetscience.com/ is - The agency's newest rover will use the first ground-penetrating radar instrument on the Martian surface to help search for signs of past microbial life.

In [61]:
url2 = "https://spaceimages-mars.com/"

In [62]:
browser.visit(url2)

In [63]:
img_html = browser.html
img_soup = bs(img_html, 'html.parser')

In [68]:
featured_img_url = url2 + img_soup.find('div', class_="header").find('img' , class_="headerimage fade-in").get('src')
print(f"Featured image url on {url2} is - {featured_img_url}")

Featured image url on https://spaceimages-mars.com/ is - https://spaceimages-mars.com/image/featured/mars1.jpg

In [70]:
url3 = "https://galaxyfacts-mars.com/"

In [71]:
tables = pd.read_html(url3)

In [73]:
df = tables[0]

In [74]:
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [76]:
df = df.drop(columns=[2])

In [78]:
df = df.drop([0])

In [80]:
df.rename(columns={0 : "Mars - Particulars", 1:"Details"})

   Mars - Particulars          Details
1           Diameter:         6,779 km
2               Mass:  6.39 × 10^23 kg
3              Moons:                2
4  Distance from Sun:   227,943,824 km
5     Length of Year:   687 Earth days
6        Temperature:     -87 to -5 °C

In [82]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n  </tbody>\n</table>'

In [85]:
url4 = "https://marshemispheres.com/cerberus.html"

In [89]:
browser.visit(url4)

In [90]:
imgone_html = browser.html
imgone_soup = bs(imgone_html, 'html.parser')

In [97]:
imgone_url = url4 + imgone_soup.find('div', class_='downloads').find_all('a')[1].get('href')
print(imgone_url)

https://marshemispheres.com/cerberus.htmlimages/cerberus_enhanced.tif