In [1]:
# Importing dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [23]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\aarvi\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [3]:
url = "https://redplanetscience.com/"

In [4]:
browser.visit(url)

In [5]:
html = browser.html
soup = bs(html, 'html.parser')

In [6]:
news_title = soup.find('div', class_="content_title").get_text()
print(f"Latest News Title on webiste {url} is - {news_title}")

Latest News Title on webiste https://redplanetscience.com/ is - AI Is Helping Scientists Discover Fresh Craters on Mars

In [7]:
news_p = soup.find('div', class_="article_teaser_body").get_text()
print(f"Latest paragraph on webiste {url} is - {news_p}")

Latest paragraph on webiste https://redplanetscience.com/ is - It's the first time machine learning has been used to find previously unknown craters on the Red Planet.

In [8]:
url2 = "https://spaceimages-mars.com/"

In [9]:
browser.visit(url2)

In [10]:
img_html = browser.html
img_soup = bs(img_html, 'html.parser')

In [11]:
featured_img_url = url2 + img_soup.find('div', class_="header").find('img' , class_="headerimage fade-in").get('src')
print(f"Featured image url on {url2} is - {featured_img_url}")

Featured image url on https://spaceimages-mars.com/ is - https://spaceimages-mars.com/image/featured/mars2.jpg

In [12]:
url3 = "https://galaxyfacts-mars.com/"

In [13]:
tables = pd.read_html(url3)

In [14]:
df = tables[0]

In [15]:
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [16]:
df = df.drop(columns=[2])

In [17]:
df = df.drop([0])

In [18]:
df = df.rename(columns={0 : "Mars - Particulars", 1:"Details"})
df

   Mars - Particulars          Details
1           Diameter:         6,779 km
2               Mass:  6.39 × 10^23 kg
3              Moons:                2
4  Distance from Sun:   227,943,824 km
5     Length of Year:   687 Earth days
6        Temperature:     -87 to -5 °C

In [19]:
html_table = df.to_html(classes="table")
html_table

'<table border="1" class="dataframe table">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Particulars</th>\n      <th>Details</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n  </tbody>\n</table>'

In [20]:
title = ["cerberus","schiaparelli","syrtis","valles"]

In [21]:
url4 = "https://marshemispheres.com/"

In [37]:
browser.visit(f"{url4}{title[0]}.html")

In [38]:
hem_img_html = browser.html
hem_img_soup = bs(hem_img_html, 'html.parser')

In [45]:
hem_img_url = hem_img_soup.find('div', attrs={'id':'wide-image'}).find('img', class_="wide-image").get('src')

In [46]:
hem_img_url

'images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [52]:
hempishere_urls = []

In [53]:
for x in range(0, len(title)):
    browser.visit(f"{url4}{title[x]}.html")
    hem_img_html = browser.html
    hem_img_soup = bs(hem_img_html, 'html.parser')
    hem_img_url = hem_img_soup.find('div', attrs={'id':'wide-image'}).find('img', class_="wide-image").get('src')
    hempishere_urls.append(f"{url4}{hem_img_url}")

In [54]:
hempishere_urls

['https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [61]:
hemisphere_img_urls = []

In [62]:
for x in range(0,len(title)):
    each_dict = {'title':title[x], 'url':hempishere_urls[x]}
    hemisphere_img_urls.append(each_dict)

In [63]:
hemisphere_img_urls

[{'title': 'cerberus',
  'url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'schiaparelli',
  'url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'syrtis',
  'url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'valles',
  'url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]